.site-footer {
    border-top: 1px solid $color__border-abbr;
    padding: 0.625rem 0;

    .col-12 {
        text-align: center;

        .site-branding {
            display: flex;
            justify-content: center;
        }

        svg {
            width: auto;
            height: auto;
        }

        a {
            color: #333;
        }
    }
}